.navbar {
    background-color:  #1f1f1f;
    list-style: none;
    top: 0;
    padding: 1rem 1rem 0.5rem 1rem;
    color: #929090;
    font-family: sans-serif;
    font-size: 0.8rem;
    border-bottom: solid #292929 0.1rem;
    position: fixed;
    width: 100%;
}


.navbar .left{
    display: flex;
    justify-content: left;
}

.navbar:hover .left:hover li:hover{
    color: white;
    background-color: #353535;
}

.navbar .right{
    display: block;
    justify-content: right;
    position: fixed;
    top: 1.25rem;
    left: 95rem;
    width: 1rem;
}

@media screen and (max-width: 900px){
    .navbar .right{
        display: flex;
        left: 40rem;
    }
    
}



.sidebar-icons{
    background-color: #181818;
    justify-content: center;
    list-style: none;
    width: 2.75rem;
    border-right: solid #292929 0.1rem;
    height: 100%;
    padding-left: 0.5rem;
    padding-top: 3.4rem;
    position: fixed;
    z-index:-1;
}

.fa-brands, .fa-regular{
    color: #9d9d9d;
    padding-bottom: 1rem;
}

.fa-brands:hover, .fa-regular:hover{
    color: white;
}

.code-logo{
    width: 1.2rem;
}
body{
    background-color: #1f1f1f;
    margin: 0;
}

.files{
    position: fixed;
    top: 1.9rem;
    color: #dad5d5;
    left: 3.35rem;
    width: 10rem;
    height: 100%;
    background-color: #181818;
    z-index: -1;
    font-family: sans-serif;
    font-size: 0.70rem;
    list-style: none;
    border-right: solid #292929 0.1rem;
}

#folder-name{
    padding-left: 1rem;
    top: 5rem;
    position: fixed;
    font-weight: 800;
}


.file-top {
    margin:  1rem;
    display: flex;
    position: fixed;
}


.file-tabs{
    top: 7rem;
    left: 5.25rem;
    position: fixed;
}

.file-tabs li {
    padding-bottom: 0.5rem;
    justify-content: center;
}

/*This area is important*/

#projects-file{
    background-color: #37373d;
    width: 8rem;
}

.file-tabs:hover li:hover{
    background-color: #37373d;
    width: 8rem;
}


.fa-ellipsis{
    position: fixed;
    left: 11rem;
    bottom: 52.5rem;
}

.navbar li{
    margin-left: 1rem;
}

.individual-area{
    background-color: #1f1f1f;;
    justify-content: center;
    list-style: none;
    width: 80rem;
    border-right: solid #292929 0.1rem;
    height: 100%;
    margin-top: 2.7rem;
    position: fixed;
    z-index:-1;
    left: 13.45rem;
    overflow-y: scroll;
}


.individual-area nav{
    background-color: #181818;
    width: 100%;
    bottom: 1000px;
    font-family: sans-serif;
    display: inline-block;
    height: 2rem;
    border-bottom: solid #292929 0.1rem;
}

.tabs{
    padding: 0.5rem;
    display: flex;
    font-size: small;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
}


.tabs li{
    background-color: #181818;
    margin-top: -0.45rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-right: solid #292929 0.1rem;
    color: #818080;;
}

.tabs:hover li:hover{
    background-color:  #1f1f1f;
}

.file-tabs a{
    color:  #dad5d5;
    text-decoration: none;
}

/*This is to determine what page is open for the app*/
#projects{
    border-top: solid #075c9d 0.125rem;
    background-color:  #1f1f1f;
    color: #dad5d5;
}

/*Important*/

#projects a{
    color: #dad5d5;
}

/*Important*/
.tabs a {
    text-decoration: none;
    color: #818080;;
}


/*Important*/
.tabs:hover a:hover{
    color: #dad5d5;
}



.code{
    color: #ababab;
    font-family: "Source Code Pro", monospace;
    margin-left: 1rem;
}

ol { 
    counter-reset: item;
    list-style-type: none;
}
ol li { display: block; }

ol li:before { 
    content: counter(item) "  "; 
    counter-increment: item;
    position: absolute;
    float: left;
    color: #6b747f;
    left: 18px;  
}

ol li:before { 
    content: counter(item) "  "; 
    counter-increment: item;
    position: absolute;
    float: left;
    color: #6b747f;
    left: 18px;  
}

::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-track {
    background-color:  #1f1f1f;
    border-left: solid #131212 0.075rem;
}
   
::-webkit-scrollbar-thumb {
    background: #3c3d3d; 
    height: 10px;
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

[contenteditable] {
    outline: 0px solid transparent;
  }